#cardlist{
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
    background-image:-webkit-repeating-linear-gradient(black,white);
}
.title{
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:darkblue;
    font-weight:bolder;
    
}

